body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: $txt-color;
    background-image: url("../img/fondo-principal.webp");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }