/*Contacto*/
.contenedor-fr {
    background-color: $bg-form;
    box-shadow: 0 0 15px $txt-shadow inset;
    @include flex_center;
    border: 5px solid $bg-nav;
    border-radius: 3%;
    margin: 1.5rem;
    padding-top: 1.5rem;
  }
  
  .formulario {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.9rem;
    padding: 0.5rem;
  }
  
  .datos,
  .datos2,
  .datos3 {
    width: 60vw;
    height: 10vh;
    text-align: center;
    border-radius: 3%;
    border: 0.1rem solid $bg-nav;
    font-size: 1.2rem;
    text-size-adjust: auto;
    margin: 0.3rem;
    background-color: $co-casi-bg;
    box-shadow: 0 0 15px $txt-shadow inset;
    color: $txt-shadow;
  }
  
  