/*Footer*/
.bg-footer,.redes{
  @include flex_center;
    a{
      @include flex_center;
    }
  
}

.bg-footer {
  background-color: $footer-bg;
  font-style: italic;
  color: $txt-color;
  text-align: center;
}

.redes {

  p {
    margin: 0;
    padding: 0;
    font-size: 0.9rem;
    font-weight: 500;
  }

  a {
    padding: 5px;

    img {
      height: 1.1rem;
      width: 1.1rem;
      margin-left: 5vw;
    }
  }

}