/*Header*/
.navbar {
  padding: 0;
}

.container-fluid {
  padding: 1.5 rem;
  background-color: $cf-bg;
}

.navbar-toggler {
  padding-left: 0.3em;
  padding-right: 0.3em;
}

.navbar-toggler-icon {
  width: 1em;
  height: 1em;
}

.navbar-collapse {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
}

.navbar-nav {
  text-align: center;
  margin-top: 3vh;
  width: 35vw;
  z-index: 100;
  border-radius: 5%;
  background-color: $bg-nav;
}

.nav-link {
  text-align: center;
  color: $txt-color;
  text-shadow: 0 0 8px $txt-shadow;
  font-style: $font;
  background-color: $nav-item;
  border-radius: 40%;
 
}

.nav-item {
  text-align: center;
  height: fit-content;
  margin: 5px;
}
.navbar-nav, .nav-link, .nav-item{
  @include flex_center;
}
.logo {
  width: 3em;
  height: 3em;
  cursor: pointer;
  background: $bg-celeste;
  border-radius: 50%;

  &:hover {
  transform: scale(1.3);
  transition: 0.5s ease-in-out;
  background-color: $log-bg;
  border-radius: 50%;
  background-size: cover;
  }
}