/*Medias Queries*/
@media only screen and (min-width: 425px) {
  .contenedor-fr {
    margin: 1.5rem 4rem 1.5rem 4rem;
  }
  .datos,
  .datos2,
  .datos3 {
    width: 45vw;
  }
}

@media only screen and (min-width: 440px) {

  .segmento1,
  .segmento2 {
    h2 {
      font-size: 1.8rem;
      text-align: start;
    }

    p {
      font-size: 1.2rem;
    }
  }

}

@media only screen and (min-width: 450px) {
  .carousel {
    width: 60vw;
  }

  .carousel-item img {
    height: 40vh;
  }
}

@media only screen and (min-width: 510px) {

  .datos,
  .datos2,
  .datos3 {
    width: 34vw;
    height: 12vh;
    font-size: 1.6rem;
  }

  .contenedor-fr {
    margin: 0 auto;
    width: 60vw;
    padding-top: 1.5rem;
  }
}

@media only screen and (min-width: 540px) {
  .carousel {
    width: 50vw;
  }

  .carousel-item img {
    height: 40vh;
  }
}

@media only screen and (min-width: 620px) {
  .contenedor-ns {
    margin: 15vh 0 15vh 0;

    p {
      font-size: 1.6rem;
    }
  }
}

@media only screen and (min-width: 720px) {
  .carousel {
    width: 38vw;
  }

  .carousel-item img {
    height: 40vh;
  }
}

@media only screen and (min-width: 992px) {
  
  /*Header*/
  
  .container-fluid {
    padding: 2vh;
  }

  .logo {
    height: 3.5rem;
    width: 3.5rem;
    background: var(--bg-celeste);
    border-radius: 50%;
    margin-left: 1rem;

    &:hover {
      transform: scale(1.5);
      transition: 0.9s ease-in-out;
    }
  }
  
  .navbar-collapse {
    margin: 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  .navbar-nav {
    display: flex;
    justify-content: flex-end;
    margin: 0;
    background-color: transparent;
    box-shadow: none;
  }
  .nav-item{
    font-size: 1.1rem;
  }

  .nav-link:hover {
    transform: scale(1.05);
    transition: 0.5s ease-in-out;
    border-radius: 40%;
    color: $txt-color;
  }


/*main*/

  .texto1 {
    font-size: 2.4rem;
    word-spacing: 1.5rem;
    line-height: 6.5rem;
    margin: 1.4rem;
  }

  .texto2 a {
    font-size: 4.2rem;

    &:hover {
      font-size: 4.6rem;
      transition: 2s ease-in-out;
    }
  }


/*footer*/
  .bg-footer {
    height: 8vh;
  }

  .redes {
    p {
      margin: 0;
      padding: 0;
      font-size: 1rem;
    }

    a {
      img {
        height: 1rem;
        width: 1rem;
        margin-left: 2vw;

        &:hover {
          transform: scale(0.9);
          transition: 1s ease-in-out;
        }
      }
    }
  }

  /*productos*/
  .mn-grids {
    height: 75vh;
  }

  .titulo h1 {
    font-size: 4rem;
  }

  .carousel {
    width: 31vw;
    margin-top: 0.1vh;
  }

  .carousel-item img {
    height: 42vh;
  }

  .btn {
    font-size: 1.6rem;
    margin-bottom: 10%;
  }
/*servicios*/

  .segmento1,
  .segmento2 {
    h2 {
      font-size: 2rem;
      text-align: start;
    }

    p {
      font-size: 1.6rem;
    }

    img {
      height: 20vh;
      width: 15vw;
    }

  }
/*nosotros*/
  .contenedor-ns {
    margin: 15vh 0 15vh 0;

    p {
      font-size: 1.6rem;
    }

    img {
      width: 15vw;
      height: 20vh;
    }
  }

/*contacto*/

  .datos,
  .datos2,
  .datos3 {
    width: 36vw;
    height: 12vh;
    font-size: 1.6rem;
  }

  .contenedor-fr {
    margin: 0 auto;
    width: 60vw;
    padding-top: 1.5rem;
  }
}


@media only screen and (min-width: 1300px) {

  .datos,
  .datos2,
  .datos3 {
    width: 28vw;
    height: 10vh;
    font-size: 1.6rem;
  }

  .contenedor-fr {
    margin: 0 auto;
    width: 40vw;
    padding-top: 1.5rem;
  }
}