/*Servicios*/
.contenedor-sv {
    padding: 0.1rem;
    font-family: $font;
    text-shadow: 0 0 1px $txt-shadow;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    color: $txt-color;
    margin: 0.2rem;
    margin-top: 1.5rem;
  }
  
.segmento1,
.segmento2{ 
  background-color: $cf-bg;
  border-radius: 2%;
  h2{
    text-align: center;
    text-decoration: underline;
    font-size: 1.6rem;
    border-radius: 3%;
    padding: 0.4rem;
  }
  p{
    text-shadow: 0 0 1px $txt-shadow;
    color: $txt-color;
    font-family: $font;
    font-size: 1.1rem;
    padding: 0.4rem;
    margin: 0.4rem;
    text-align: start;
  }
  img{
    height: 20vh;
    width: 20vh;
    padding: 0.4rem;
    filter: opacity(80%);
    border-radius: 50%;
    float: right;
  }
}